 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

   <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="img/logo.png" class="margin-r-5" alt="User Image" style="height:40px;"></img></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="img/logo.png" class="margin-r-5" alt="logo" style="height:40px;"></img>
	  <span class="text-red"><b>ERGOS</b></span>
	  </span>
    </a>

    <!-- Header Navbar -->
    
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
      <!-- Navbar left Menu -->
      <div class="navbar-custom-menu col-xs-12 col-md-9 pull-left">
        <div class="pull-right margin-t-10 col-xs-12 col-md-6">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search ERGOS" style="border-radius:5px;">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              
            </div><!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
              <div  class="collapse navbar-collapse text-center" id="navbar-collapse">
                <ul class="nav navbar-nav pull-right">
				
				<!-- <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle text-center" data-toggle="control-sidebar">
              <i class="fa fa-book"></i>
              <div class="text-sm">Help</div>
            </a>
			</li> -->
			<li class="dropdown notifications-menu margin-r-5">
            <a href="#" class="dropdown-toggle margin-t-10" data-toggle="dropdown">
              <i class="fa fa-bell-o fa-2x text-muted"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
			<li class="dropdown messages-menu  margin-r-5">
            <a href="#" class="dropdown-toggle text-center margin-t-10" data-toggle="dropdown">
              <i class="fa fa-th-large fa-2x text-muted"></i>
              </a>
			</li>
			<li class="dropdown user user-menu margin-t-5" >
                    <!-- Menu Toggle Button -->
					<img src="img/user.png" class="user-image" alt="User Image inline">
					</li>
                  <!-- User Account Menu -->
                  <li class="dropdown user user-menu margin-t-20" >
                    <!-- Menu Toggle Button -->
					 <a href="#" class="dropdown-toggle margin-r-10 no-padding text-gray" data-toggle="dropdown">
                      <!-- The user image in the navbar-->
                      <i class="fa fa-caret-down fa-lg margin-l-5"></i>
                      <!-- hidden-xs hides the username on small devices so only the image appears. -->
                      <!-- <span class="hidden-xs">Alexander Pierce</span> -->
                    </a>
                    <ul class="dropdown-menu">
                      <!-- The user image in the menu -->
                      <li class="user-header">
                        <img src="img/user.png" class="img-circle" alt="User Image">
                        <p>
                          Welcome Administrator
                          <small>Ergos App</small>
                        </p>
                      </li>
                      <!-- Menu Body -->
                      
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                         <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
      </div>
    </nav>
  </header>