   <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <aside class="main-sidebar bg-blue-gradient">
	 <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">

		<div style="padding:12px 5px 12px 20px;">
		<a href="#" class="sidebar-toggle text-white" data-toggle="offcanvas" role="button"><i class="fa fa-list"></i>
        <span class="sr-only">Toggle navigation</span>
      </a>
	  </div>
	    <li><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
		<li class="active toogle_nav_li"><a href="/sitesList"><i class="fa fa-file fa-lg"></i> <span>Service Manager</span></a></li>
		<li><a href="#"><i class="fa fa-tag fa-lg"></i> <span>My Price Guide</span></a></li>
		<li><a href="#"><i class="fa fa-credit-card fa-lg"></i> <span>Membership</span></a></li>
		<li><a href="#"><i class="fa fa-crosshairs fa-lg"></i> <span>Add Tracking</span></a></li>
		<li><a href="#"><i class="fa fa-suitcase fa-lg"></i> <span>Customer Market Place</span></a></li>
		<li><a href="#"><i class="fa fa-tachometer fa-lg"></i> <span>Team Performance</span></a></li>
		<li><a href="#"><i class="fa fa-pie-chart fa-lg"></i> <span>Reporting and Analysis</span></a></li>
		<li><a href="#"><i class="fa fa-calculator fa-lg"></i> <span>Accounting</span></a></li>
		<li id="inventory_li"><a href="/inventory"><i class="fa fa-home fa-lg"></i> <span>Inventory</span></a></li>
		<li><a href="#"><i class="fa fa-wrench fa-lg"></i> <span>System Setup</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>